/* Importar fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Selector universal */
*{
    padding: 0; /*Relleno*/
    margin: 0 auto;  /*Margen*/
    box-sizing: border-box; /*Modelo de la caja */
    font-family: 'Roboto', sans-serif; /*Fuente roboto*/
    background-color: var(--color-4);
}

:root{
    --color-1: #4a148c;
    --color-2: #27AE60;
    --color-3: #7e57c2;
    --color-4: #f3e5f5;
    --color-5: #ffffff;
    --color-6: #000000;
}

/* Titulo */
.title{
    padding: 20px;
    width: 90%;
    margin: auto;
    background-color: var(--color-1);
    overflow: auto;
    color: var(--color-5)
}

/* Contenedor principal */
.container-main{
    padding: 20px;
    width: 90%;
    margin: auto;
    background-color: var(--color-5);
    overflow: auto;
    color: var(--color-6);
}

/* .col{
    float: left;
    width: 50%;
} */

.col-left{
    background-color: var(--color-5);
    float: left;
    width: 40%;
    font-weight: 600;
    color: var(--color-2);
    padding: 0 20px;
    height: 80px;
    line-height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.col-left h1{
    background-color: var(--color-5);
    font-size: xx-large;
    font-weight: bold;
}

.col-right{
    background-color: var(--color-5);
    float: left;
    width: 60%;
}

.col-right h5{
    background-color: var(--color-5);
    font-size: x-large;
    font-weight: normal;
    color: var(--color-3);
    font-weight: bold;
}

.col-right ul{
    list-style: none;
}

.col-right ul li{
    width: 100%;
    padding-right: 15px
}

.col-right ul li .kind{
    background-color: var(--color-5);
    width: 5%;
    margin-top: 3%;
    float: left;
    color: var(--color-3);
}

.col-right ul li .concept{
    background-color: var(--color-5);
    font-weight: bold;
    width: 90%;
    margin-top: 3%;
    float: left;
}

.col-right ul li .option{
    background-color: var(--color-5);
    float: right;
    width: 5%;
    margin-top: 3%;
    color: var(--color-3);
    text-align: end;
}

.col-right ul li .amount{
    background-color: var(--color-5);
    float: left;
    width: 50%;
    margin-left: 5%;
}

.col-right ul li .date{
    background-color: var(--color-5);
    float: left;
    width: 45%;
    text-align: end;
}

.btn{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: var(--color-5);
    background: var(--color-3);
    border-radius: 3px;
    font-size: large;
    cursor: pointer;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background-color: var(--color-4);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 50px;
    text-align: center;
    width: 600px;
    transition: .5s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-close-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: var(--color-3);
    animation: .3s ease all;
}

.popup .btn-close-popup:hover{
    color: var(--color-1);
}

.popup h2{
    margin-bottom: 25px;
}

.popup form .input-container input{
    background-color: var(--color-5);
    width: 100%;
    margin-bottom: 20px;
    height: 35px;
    line-height: 35px;
    font-size: large;
    text-align: center;
    border: 1px solid var(--color-5);
}

.popup form .input-container select{
    background-color: var(--color-5);
    width: 100%;
    margin-bottom: 20px;
    height: 35px;
    line-height: 35px;
    font-size: large;
    text-align-last: center;
    border: 1px solid var(--color-5);
}

.popup form .input-container select option{
    width: 100%;
    margin-bottom: 20px;
    height: 35px;
    line-height: 35px;
    font-size: large;
    align-content: center;
    text-align-last: center;
    border: 1px solid var(--color-5);
}

.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: var(--color-5);
    background: var(--color-3);
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    animation: .3s ease all;
}

.popup form .btn-submit:hover{
    background: var(--color-1);
}

#popup-options{
    background-color: var(--color-5);
}

#btn-close-popup-options{
    background-color: var(--color-5);
}

.popup.active {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 760px){
    .title{
        width: 100%;
    }
    
    /* Contenedor principal */
    .container-main{
        width: 100%;
    }    
}

@media (max-width: 625px){
    .col-left{
        width: 100%;
    }

    .col-right{
        width: 100%;
    }
}